<h3>Create Room</h3>
<div class="col-12">
	<div class="form-group">
		<label><p>Enter Room Name:</p></label>
		<input [(ngModel)]="roomId" (ngModelChange)="resetValidation()" class="form-control" type="text" maxlength="10">
		<div [hidden]="!roomAlreadyExists" class="alert alert-danger">
      This room name is taken.
    </div>
	</div>
	<div class="form-group">
		<label><p>Enter Room Passcode (Optional):</p></label>
		<input [(ngModel)]="roomPassword" class="form-control" type="text" maxlength="4">
	</div>
	<div class="form-group">
		<div class="col-12 no-pad flex">
			<p>1&nbsp;&nbsp;&nbsp;&nbsp;</p><input id="hunger-bucks-slider" class="form-control slider">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;20</p>
		</div>
		<label class="flex"><p id="hunger-bucks-value"><b>{{ hungerBucks }}</b> Hunger Bucks Per Person</p></label>
	</div>
	<div class="form-group" *ngIf="!_markerService.isLocationDisabled && !showZip && !showCurrentLocation">
		<label><p>Limit Restaurants By:</p></label>
		<button (click)="toggleZip()" type="button" class="btn btn-primary btn-lg btn-block btn-list">
		Zip Code</button>
		<button (click)="toggleCurrentLocation()" type="button" class="btn btn-primary btn-lg btn-block btn-list">
		Current Location</button>
	</div>
	<div *ngIf="showZip || _markerService.isLocationDisabled" class="form-group">
		<label><p>Zip Code:</p></label>
		<input [(ngModel)]="zipCode" class="form-control" type="text" maxlength="5">
	</div>
	<div class="form-group">
		<label><p>Cuisine:</p></label>
		<select id="categories" multiple="multiple" style="width:100%;">
			<option value="All">Any</option>
			<option value="American">American</option>
			<option value="Barbecue">Barbecue</option>
			<option value="Chinese">Chinese</option>
			<option value="French">French</option>
			<option value="Hamburger">Hamburger</option>
			<option value="Indian">Indian</option>
			<option value="Italian">Italian</option>
			<option value="Japanese">Japanese</option>
			<option value="Mexican">Mexican</option>
			<option value="Pizza">Pizza</option>
			<option value="Seafood">Seafood</option>
			<option value="Steak">Steak</option>
			<option value="Sushi">Sushi</option>
			<option value="Thai">Thai</option>
		</select>
	</div>
	<div [ngClass]="{'hide' : !validateZip() && !showCurrentLocation}" class="form-group">
		<div class="col-12 no-pad flex">
			<p>1&nbsp;&nbsp;&nbsp;&nbsp;</p><input id="radius-slider" class="form-control slider">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;15</p>
		</div>
		<label class="flex"><p>Limit to restaurants within <b>{{ radius }}</b> miles of <ng-container *ngIf="validateZip()">zip: {{zipCode}}.</ng-container><ng-container *ngIf="showCurrentLocation">my current location.</ng-container></p></label>
	</div>
	<div class="form-group">
		<label><p>Min Price:</p></label>
		<div class="dollars">
			<button *ngIf="1 <= maxPrice" (click)="minPrice = 1" class="btn dollar-button" [ngClass]="{'btn-primary': minPrice === 1}">$</button>
			<button *ngIf="2 <= maxPrice" (click)="minPrice = 2" class="btn dollar-button" [ngClass]="{'btn-primary': minPrice === 2}">$$</button>
			<button *ngIf="3 <= maxPrice" (click)="minPrice = 3" class="btn dollar-button" [ngClass]="{'btn-primary': minPrice === 3}">$$$</button>
			<button *ngIf="4 <= maxPrice" (click)="minPrice = 4" class="btn dollar-button" [ngClass]="{'btn-primary': minPrice === 4}">$$$$</button>
		</div>
	</div>
	<div class="form-group">
		<label><p>Max Price:</p></label>
		<div class="dollars">
			<button *ngIf="1 >= minPrice" (click)="maxPrice = 1" class="btn dollar-button" [ngClass]="{'btn-primary': maxPrice === 1}">$</button>
			<button *ngIf="2 >= minPrice" (click)="maxPrice = 2" class="btn dollar-button" [ngClass]="{'btn-primary': maxPrice === 2}">$$</button>
			<button *ngIf="3 >= minPrice" (click)="maxPrice = 3" class="btn dollar-button" [ngClass]="{'btn-primary': maxPrice === 3}">$$$</button>
			<button *ngIf="4 >= minPrice" (click)="maxPrice = 4" class="btn dollar-button" [ngClass]="{'btn-primary': maxPrice === 4}">$$$$</button>
		</div>
	</div>
	<div *ngIf="roomId" class="form-group">
		<label><p>Shareable Room Link:</p></label>
		<input class="form-control" [(ngModel)]="roomLink" type="text" readonly>
	</div>
  <button (click)="createRoom()" type="button" [disabled]="!canCreateRoom()" class="btn btn-primary btn-lg btn-block btn-list">
		Enter Your Room
	</button>
	<button [routerLink]="['..']" type="button" class="btn btn-danger btn-lg btn-block btn-list">
	Cancel
	</button>
</div>