<button (click)="goBackToCategories()" class="btn btn-primary btn-lg back-button text-left" *ngIf="showRestaurants"><i class="fa fa-arrow-left back-icon" aria-hidden="true"></i> Categories</button>
<div class="card">
	<h2 class="card-header bg-primary text-white">
		Room: {{ roomId }}
		<h5 *ngIf="!needsPassword">Hunger Bucks Remaining: {{ hungerBucksRemaining }}</h5>
	</h2>
	<div class="card-block">
		<div class="col-12" *ngIf="needsPassword">
			<label><h3>Enter Room Password:</h3></label>
			<input [(ngModel)]="password" (ngModelChange)="resetValidation()" class="form-control" type="text">
			<div [hidden]="!invalidPasswordChecked" class="alert alert-danger">
	      Invalid password or the room does not exist.
	    </div>
	    <button (click)="checkPassword()" type="button" [disabled]="!password" class="btn btn-primary btn-lg btn-block btn-list">
				Enter Room
			</button>
			<button *ngIf="showDifferentRoomButton" [routerLink]="['../..']" type="button" class="btn btn-danger btn-lg btn-block btn-list">
				Create / Join Different Room
			</button>
		</div>
		<div class="col-12" *ngIf="!needsPassword">
			<div class="progress" *ngIf="showLoading">
			  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
			</div>
			<div *ngIf="showCategories">
				<label><h3>What kind of food are you craving?</h3></label>
				<div *ngFor="let item of categories; let i = index">
					<button type="button" class="btn btn-lg btn-block btn-list text-white" [ngStyle]="{'background-color': _zomatoService.getButtonColor(i)}" (click)="onCategoryClick(item.categories.id)">
						{{ item.categories.name }}
					</button>		
				</div>
			</div>
			<div *ngIf="showRestaurants">
				<div *ngFor="let item of restaurants; let i = index">
					<button type="button" class="btn btn-lg btn-block btn-list text-white" [ngStyle]="{'background-color': _zomatoService.getButtonColor(i)}">
						<div>
							<h4>{{ item.restaurant.name }}</h4>
							<p>{{ item.restaurant.user_rating.aggregate_rating }} ({{ item.restaurant.user_rating.votes }})</p>
							<p *ngFor="let dollar of getDollarSigns(item.restaurant.price_range)" class="inline">{{ dollar }} </p>
							<p class="inline">· {{ item.restaurant.cuisines }} · {{ item.restaurant.location.address }}</p>
						</div>
						<div>
							<button (click)="spendHungerBuck(item.restaurant.id)"><i class="fa fa-plus" aria-hidden="true"></i></button>
							{{restaurantToHungerBucks[item.restaurant.id]}}
							<button (click)="refundHungerBuck(item.restaurant.id)"><i class="fa fa-minus" aria-hidden="true"></i></button>
						</div>
					</button>		
				</div>
			</div>
		</div>
	</div>
</div>