.back-button {
	width: auto;
	margin-bottom: .5em;
}
.inline {
	display: inline;
}
.restaurant-card{
  border-radius: .3em;
  padding: .5em;
  margin-bottom: .5em;
  color: white;
}
#categories{
	height: 100%;
}

#restaurants{
	height: 100%;
}

#totals{
	height: 100%;
}

.card-header{
	height: 95px;
}

.card-block{
	height: calc(100% - 135px);
}

@media screen 
and (max-width : 430px) {
	.card-header{
		height: 145px;
	}

	.card-block{
		height: calc(100% - 215px);
	}
}
