@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import "~bootstrap/dist/css/bootstrap.css";

body {
    background:#2E9CE6;
    font-family: 'Raleway', 'Arial';
    color:#fff;
}
ul {
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}
ul li {
    display:inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color:#fff;
    text-decoration:none;
}
.progress {
	margin: 2em;
}

.btn-list {
	margin: .5em 0 .5em 0;
}

body {
    background-color:#EBEBEB;
    padding-top: 5em;
}
* {
    font-family: 'Raleway';
}
button {
    background:#008FEF;
    color:white;
    padding: 1.2em;
    width:300px;
    text-align:center;
    font-size:1.2em;
    margin-bottom: 30px;
    cursor:pointer;
}
.card-block {
	margin: .5em;
	color: #343a40 !important;
}
.no-pad {
	padding: 0em;
}

.card {
	max-height: 95%;
	overflow: hidden;
}

.card-full {
	height: 95%;
	overflow: hidden;
}

.input-label {
	margin-bottom: 0rem;
}

label{
	margin-bottom: 0rem;
}

.no-scroll {
	overflow: hidden;
}

.scroll {
	overflow-y: auto;
	overflow-x: hidden;
}

html {
	height: 100%;
}

.full-height {
	height: 100%;
}

::-webkit-scrollbar
{
  width: 3px;  /* for vertical scrollbars */
  height: 3px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
  border-radius: .2em;
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
  border-radius: .2em;
}