<div class="flex">
	<h3>Room:</h3>
	<h5>&nbsp;{{ roomId }}</h5>
</div>
<div class="flex" *ngIf="!needsPassword && !submittedCart">
	<h3 id="hunger-bucks-remaining" style="line-height: .2;">Hunger Bucks Remaining:</h3>
	<h5 style="line-height: .2;">&nbsp;{{ hungerBucksRemaining }}</h5>
</div>
<hr class="negative-margins">
<div class="col-12 no-pad" *ngIf="needsPassword">
	<h5 class="margin-top">Enter Room Password:</h5>
	<input [(ngModel)]="password" (ngModelChange)="resetValidation()" class="form-control" type="text">
	<div [hidden]="!invalidPasswordChecked" class="alert alert-danger">
    Invalid password or the room does not exist.
  </div>
  <button (click)="checkPassword()" type="button" [disabled]="!password" class="btn btn-primary btn-lg btn-block btn-list margin-top">
		Enter Room
	</button>
	<button [routerLink]="['../..']" type="button" class="btn btn-danger btn-lg btn-block btn-list">
		Create / Join Different Room
	</button>
</div>
<div class="col-12 no-pad flex-space-between" *ngIf="!needsPassword && !submittedCart">
	<button class="btn btn-lg btn-list text-white" [ngClass]="{'btn-primary' : showRestaurants}" (click)="showBrowseDivs()">Restaurants <ng-container *ngIf="!showLoading">({{ restaurantTotal }})</ng-container></button>
	<button *ngIf="!showCart" class="btn btn-lg btn-list text-white" [ngClass]="{'btn-primary' : showCart}" [disabled]="showLoading" (click)="showCartDiv()">Cart</button>
	<button *ngIf="showCart" class="btn btn-lg btn-list text-white" [ngClass]="{'btn-primary' : showCart}" (click)="submitCart()">Submit</button>
</div>
<hr *ngIf="!needsPassword && !submittedCart">
<h5 *ngIf="submittedCart && inProgress">Submission Successful!</h5>
<div *ngIf="!inProgress" class="flex-space-between">
	<h5>Restaurant</h5>
	<h5>Hunger Bucks</h5>
</div>
<hr>
<div class="restaurants-list tse-scrollable">
  <div class="tse-content">
		<div class="col-sm-12" *ngIf="!needsPassword">
			<div class="row">
				<p *ngIf="(orders === undefined || orders.length === 0) && showCart" class="col-sm-12 margin-top">Your cart is empty. Click browse to find restaurants.</p>
				<div *ngIf="showCart" class="col-sm-12 no-pad text-left">
					<div class="map-results-content">
						<div class="listing-row-medium"*ngFor="let item of orders; let i = index">
							<div class="listing-row-medium-inner flex-space-between">
								<div>
									<div class="listing-row-medium-content">
		                <div class="listing-row-medium-price">
		                	<ng-container [@slide] *ngFor="let dollar of getDollarSigns(item.restaurant.price_level)">{{ dollar }}</ng-container>
		              	</div>
										<div class="listing-row-medium-category tag">{{ item.restaurant.types[0] }}</div>

										<h4 class="listing-row-medium-title"><div>{{ item.restaurant.name }}</div></h4>

										<div class="listing-row-medium-address">{{ item.restaurant.vicinity }}</div>
										<div>
											<span class="listing-row-medium-rating float-none">
												<span>({{ item.restaurant.rating }})</span>

			                  <b [innerHTML]="buildRating(item.restaurant.rating)"></b>
											</span>
										</div>
									</div>
								</div>
								<div class="text-right">
									<button (click)="spendHungerBuck(item.restaurant)" class="btn btn-lg btn-block btn-list text-white"><i class="fa fa-plus no-margin" aria-hidden="true"></i></button>
									<ng-container>
									<div class="text-center">
										{{ getRestaurantHungerBucksTotal(item.restaurant.place_id) }}
									</div>
									</ng-container>
									<button (click)="refundHungerBuck(item.restaurant)" class="btn btn-lg btn-block btn-list text-white"><i class="fa fa-minus no-margin" aria-hidden="true"></i></button>
								</div>	
					    </div>
						</div>
					</div>
				</div>
				<div *ngIf="showRestaurants" class="col-sm-12 no-pad" [@flyInOut]>
					<div class="col-sm-12 no-pad" *ngIf="showLoading" [@flyInOut]>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
						</div>
					</div>
					<div [@slide] *ngIf="!showLoading">
						<div class="map-results-content">
							<div class="listing-row-medium" *ngFor="let item of restaurants; let i = index">
								<div class="listing-row-medium-inner flex-space-between">
									<div>
										<div class="listing-row-medium-content">
			                <div class="listing-row-medium-price">
			                	<ng-container [@slide] *ngFor="let dollar of getDollarSigns(item.price_level)">{{ dollar }}</ng-container>
			              	</div>
											<div class="listing-row-medium-category tag">{{ item.types[0] }}</div>

											<h4 class="listing-row-medium-title"><div>{{ item.name }}</div></h4>

											<div class="listing-row-medium-address">{{ item.vicinity }}</div>
											<div>
												<span class="listing-row-medium-rating float-none">
													<span>({{ item.rating }})</span>

				                  <b [innerHTML]="buildRating(item.rating)"></b>
												</span>
											</div>
										</div>
									</div>
									<div class="text-right">
										<button (click)="spendHungerBuck(item)" class="btn btn-lg btn-block btn-list text-white"><i class="fa fa-plus no-margin" aria-hidden="true"></i></button>
										<ng-container>
										<div class="text-center">
											{{ getRestaurantHungerBucksTotal(item.place_id) }}
										</div>
										</ng-container>
										<button (click)="refundHungerBuck(item)" class="btn btn-lg btn-block btn-list text-white"><i class="fa fa-minus no-margin" aria-hidden="true"></i></button>
									</div>	
						    </div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<div *ngIf="submittedCart" class="col-sm-12 text-left">
			<div *ngIf="inProgress">
				<p *ngIf="room.owner !== uid">Waiting for all users to submit.</p>
				<div *ngIf="room.owner === uid">
					<p>Once all desired users have submitted their Hunger Bucks, click the button below to show the results.</p>
				</div>
				<div *ngIf="room.owner !== uid" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
				<h5 class="margin-top">Submitted:</h5>
				<ng-container *ngFor="let submission of room.submissions | keys">
					<p>{{ getDisplayNameFromSubmission(submission) }}</p>
				</ng-container>
				<button *ngIf="room.owner === uid" (click)="showResults(true)" class="btn btn-lg btn-block btn-list text-white margin-top">Decide!</button>
			</div>
			<div *ngIf="!inProgress && !showFlip">
				<p>Pick two restaurants to flip for a decision.</p>
				<button [disabled]="!isFlipReady()" (click)="flip()" class="btn btn-lg btn-block btn-list text-white">Flip!</button>
				<hr class="negative-margins">
				<div class="map-results-content">
					<div class="listing-row-medium negative-margins flex" *ngFor="let item of results | keys">
						<i *ngIf="isChecked(item.value.restaurant.place_id)" (click)="toggleChecked(item.value.restaurant.place_id)" class="fa fa-check-square-o result-checkbox text-center"></i>
						<i *ngIf="!isChecked(item.value.restaurant.place_id)" (click)="toggleChecked(item.value.restaurant.place_id)" class="fa fa-square-o result-checkbox text-center"></i>
						<div class="listing-row-medium-inner flex-space-between result-card">
							<div class="text-left">
								<div class="listing-row-medium-content">
	                <div class="listing-row-medium-price">
	                	<ng-container [@slide] *ngFor="let dollar of getDollarSigns(item.value.restaurant.price_level)">{{ dollar }}</ng-container>
	              	</div>
									<div class="listing-row-medium-category tag">{{ item.value.restaurant.types[0] }}</div>

									<h4 class="listing-row-medium-title"><div>{{ item.value.restaurant.name }}</div></h4>

									<div class="listing-row-medium-address">{{ item.value.restaurant.vicinity }}</div>
									<div>
										<span class="listing-row-medium-rating float-none">
											<span>({{ item.value.restaurant.rating }})</span>

		                  <b [innerHTML]="buildRating(item.value.restaurant.rating)"></b>
										</span>
									</div>
								</div>
							</div>
							<div class="text-right">
								<ng-container>
								<div class="text-center">
									<h5>{{ item.value.balance }}</h5>
								</div>
								</ng-container>
							</div>	
				    </div>
					</div>
				</div>
			</div>
			<div *ngIf="showFlip && !inProgress">
				<button (click)="flip()" class="btn btn-lg btn-block btn-list text-white">Start Flipping!</button>
				<button (click)="goBackToCards()" class="btn btn-lg btn-block btn-list text-white">Go Back</button>
				<div *ngIf="showCards"[className]="flipClass">
					<div class="flipper">
						<div class="front">
							<div class="listing-row-medium negative-margins flex">
								<div class="listing-row-medium-inner flex-space-between result-card">
									<div class="text-left">
										<div class="listing-row-medium-content">
			                <div class="listing-row-medium-price">
			                	<ng-container [@slide] *ngFor="let dollar of getDollarSigns(card1.restaurant.price_level)">{{ dollar }}</ng-container>
			              	</div>
											<div class="listing-row-medium-category tag">{{ card1.restaurant.types[0] }}</div>

											<h4 class="listing-row-medium-title"><div>{{ card1.restaurant.name }}</div></h4>

											<div class="listing-row-medium-address">{{ card1.restaurant.vicinity }}</div>
											<div>
												<span class="listing-row-medium-rating float-none">
													<span>({{ card1.restaurant.rating }})</span>

				                  <b [innerHTML]="buildRating(card1.restaurant.rating)"></b>
												</span>
											</div>
										</div>
									</div>
									<div class="text-right">
										<ng-container>
										<div class="text-center">
											<h5>{{ card1.balance }}</h5>
										</div>
										</ng-container>
									</div>		
						    </div>
							</div>
						</div>
						<div class="back">
							<div class="listing-row-medium negative-margins flex">
								<div class="listing-row-medium-inner flex-space-between result-card">
									<div class="text-left">
										<div class="listing-row-medium-content">
			                <div class="listing-row-medium-price">
			                	<ng-container [@slide] *ngFor="let dollar of getDollarSigns(card2.restaurant.price_level)">{{ dollar }}</ng-container>
			              	</div>
											<div class="listing-row-medium-category tag">{{ card2.restaurant.types[0] }}</div>

											<h4 class="listing-row-medium-title"><div>{{ card2.restaurant.name }}</div></h4>

											<div class="listing-row-medium-address">{{ card2.restaurant.vicinity }}</div>
											<div>
												<span class="listing-row-medium-rating float-none">
													<span>({{ card2.restaurant.rating }})</span>

				                  <b [innerHTML]="buildRating(card2.restaurant.rating)"></b>
												</span>
											</div>
										</div>
									</div>
									<div class="text-right">
									<ng-container>
									<div class="text-center">
										<h5>{{ card2.balance }}</h5>
									</div>
									</ng-container>
								</div>	
						    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>