<div class="card">
	<h2 class="card-header bg-primary text-white">Create Room</h2>
	<div class="card-block">
		<div class="col-12">
			<div class="form-group">
				<label><p class="input-label">Enter Room Name:</p></label>
				<input [(ngModel)]="roomId" (ngModelChange)="resetValidation()" class="form-control" type="text">
				<div [hidden]="!roomAlreadyExists" class="alert alert-danger">
		      This room name is taken.
		    </div>
	  	</div>
	  	<div class="form-group">
				<label><p class="input-label">Enter Room Password:</p></label>
				<input [(ngModel)]="roomPassword" class="form-control" type="text">
			</div>
			<div class="form-group">
				<label><p class="input-label">Hunger Bucks Per Person:</p></label>
				<div class="col-3 no-pad">
				<input [(ngModel)]="hungerBucks" class="form-control" type="number" min="1" max="20">
				</div>
			</div>
			<div class="form-group">
				<label><p class="input-label">Distance From Current Location (Miles):</p></label>
				<div class="col-3 no-pad">
					<input [(ngModel)]="radius" class="form-control" type="number" min="0" max="50">
				</div>
			</div>
			<div *ngIf="roomId" class="form-group">
				<label><p class="input-label">Shareable Room Link:</p></label>
				<input [(ngModel)]="href + '/picker/room/' + roomId" class="form-control" type="text" readonly="readonly">
			</div>
	    <button (click)="createRoom()" type="button" [disabled]="!canCreateRoom()" class="btn btn-primary btn-lg btn-block btn-list">
				Enter Your Room
			</button>
			<button [routerLink]="['..']" type="button" class="btn btn-danger btn-lg btn-block btn-list">
			Cancel
		</button>
		</div>
	</div>
</div>
