<div class="card">
	<h2 class="card-header bg-primary text-white">
		Room: {{ roomId }}
		<h5 *ngIf="!needsPassword">Hunger Bucks Remaining: {{ hungerBucksRemaining }}</h5>
	</h2>
	<div class="card-block">
		<button [@flyInOut] (click)="goBackToCategories()" class="btn btn-primary btn-lg back-button text-left" *ngIf="showRestaurants"><i class="fa fa-arrow-left back-icon" aria-hidden="true"></i> Categories</button>
		<div class="col-12" *ngIf="needsPassword">
			<label><h3>Enter Room Password:</h3></label>
			<input [(ngModel)]="password" (ngModelChange)="resetValidation()" class="form-control" type="text">
			<div [hidden]="!invalidPasswordChecked" class="alert alert-danger">
	      Invalid password or the room does not exist.
	    </div>
	    <button (click)="checkPassword()" type="button" [disabled]="!password" class="btn btn-primary btn-lg btn-block btn-list">
				Enter Room
			</button>
			<button *ngIf="showDifferentRoomButton" [routerLink]="['../..']" type="button" class="btn btn-danger btn-lg btn-block btn-list">
				Create / Join Different Room
			</button>
		</div>
		<div class="col-sm-12 full-height" *ngIf="!needsPassword">
			<div class="row full-height">
				<div class="col-sm-4 text-left" id="totals-container">
					<label><h5>Totals</h5></label>
					<div id="totals" class="scroll totals-horizontal-scroll-sm">
						<div *ngFor="let order of orders; let i = index" class="total-horizontal">
							<div [@flyInOut] class="restaurant-card" [ngStyle]="{'background-color': _zomatoService.getButtonColor(i)}">
								<div class="row">
									<div class="col-9">
										<p>{{ order.restaurantName }}</p> 
									</div>
									<div class="col-3">
										<p>{{ order.balance }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-8" *ngIf="showLoading" [@flyInOut]>
					<div class="progress">
					  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
					</div>
				</div>
				<div *ngIf="showCategories" class="col-sm-8 full-height" [@flyInOut]>
					<label><h5>Restaurant Categories</h5></label>
					<div class="scroll" id="categories" [@slide]>
						<div *ngFor="let item of categories; let i = index">
							<button type="button" class="btn btn-lg btn-block btn-list text-white" [ngStyle]="{'background-color': _zomatoService.getButtonColor(i)}" (click)="onCategoryClick(item.categories.id)">
								{{ item.categories.name }}
							</button>		
						</div>
					</div>
				</div>
				<div *ngIf="showRestaurants" class="col-sm-8 full-height" [@flyInOut]>
					<label><h5>Results</h5></label>
					<div class="scroll" id="restaurants" [@slide]>
						<div class="row restaurant-card" *ngFor="let item of restaurants; let i = index" [ngStyle]="{'background-color': _zomatoService.getButtonColor(i)}">
							<div class="col-8">
								<div>
									<h4>{{ item.restaurant.name }}</h4>
									<p>{{ item.restaurant.user_rating.aggregate_rating }} ({{ item.restaurant.user_rating.votes }})</p>
									<p [@slide] *ngFor="let dollar of getDollarSigns(item.restaurant.price_range)" class="inline" >{{ dollar }} </p>
									<p class="inline">· {{ item.restaurant.cuisines }} · {{ item.restaurant.location.address }}</p>
								</div>
							</div>
							<div class="col-4">
								<button (click)="spendHungerBuck(item.restaurant)" class="btn btn-lg btn-block btn-list text-white"><i class="fa fa-plus" aria-hidden="true"></i></button>
								<ng-container>
								<div class="text-center">
									{{ getRestaurantHungerBucksTotal(item.restaurant.id) }}
								</div>
								</ng-container>
								<button (click)="refundHungerBuck(item.restaurant)" class="btn btn-lg btn-block btn-list text-white"><i class="fa fa-minus" aria-hidden="true"></i></button>
							</div>		
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>