<div class="card">
	<h2 class="card-header bg-primary text-white">Picker</h2>
	<div class="card-block">
		<p>Picker helps you decide where you and your friends should go get food!<br><br>
			<b>How To Play</b><br>
			When each friend joins the room, they are given a certain amount of "HungerBucks". The friend will then spend their HungerBucks as they please on the restaurants of their desire. When the room creator closes the room, each friend will see which restaurants nabbed the most HungerBucks. The restaurant with the most HungerBucks is where you eat.
		</p>
		<div class="col-12">
			<div *ngIf="!showJoinRoom">
				<button [routerLink]="['create-room']" type="button" class="btn btn-primary btn-lg btn-block btn-list">
					Create Room
				</button>
				<button (click)="enableJoinRoom()" type="button" class="btn btn-primary btn-lg btn-block btn-list">
					Join Room
				</button>
			</div>
			<div *ngIf="showJoinRoom">
				<div class="form-group">
					<input [(ngModel)]="roomId" (ngModelChange)="resetValidation()" class="form-control" type="text" placeholder="Enter room id">
					<div [hidden]="isValidRoom" class="alert alert-danger">
			      The room entered does not exist.
			    </div>
			    <button (click)="joinRoom()" type="button" [disabled]="!roomId" class="btn btn-primary btn-lg btn-block btn-list">
						Join Room
					</button>
					<button (click)="cancel()" type="button" class="btn btn-danger btn-lg btn-block btn-list">
						Cancel
					</button>
			  </div>
			</div>
		</div>
	</div>
</div>
