<div [ngClass]="{'compressed': compressed, 'map-results': true}">
	<div class="map-results-inner">
		<div class="map-results-list tse-scrollable">
			<div class="tse-content">
				<div class="map-results-header">
					<div *ngIf="!(user | async)?.uid" class="text-center">
						<h5 >Welcome! Please Log In.</h5>
				  	<button class="btn btn-primary btn-lg btn-block btn-list" (click)="facebookLogin()">Login With Facebook</button>
				  	<button class="btn btn-primary btn-lg btn-block btn-list" (click)="googleLogin()">Login With Google</button>
			  	</div>
			    <router-outlet *ngIf="(user | async)?.uid"></router-outlet>
				</div>
			</div>
		</div>
	</div>

	<div class="map-results-toggle" (click)="toggleResults()">
		<i class="fa fa-chevron-left"></i>
	</div>
</div>
