.sebm-google-map-container {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	height: calc(100vh - 60px);
}

.no-pad {
	padding: 0em;
}

.flex {
	display: flex;
}

.flex-space-between {
	display: flex;
	justify-content: space-between;
}

.listing-row-medium-price {
	color: white;	
}

.float-none {
	float: none;
}

.no-margin {
	margin: 0em !important;
}

.next-to-button {
	line-height: 1.8;
	margin: 0em;
	padding-left: .3em;
}

.margin-top {
	margin-top: .3em;
}

.negative-margins {
	margin-left: -15px;
	margin-right: -15px;
}

hr {
	margin-top: .3em;
	margin-bottom: .3em;
}

.map-toolbar-top {
	bottom: 60px;
}

.gm-iv-container {
	margin-left: 60px !important;
}

.gm-iv-address {
	height: 56px !important;
	width: 150px !important;
}

.gm-svpc {
	top: auto !important;
	bottom: 55px !important;
	left: -5px !important;
	height: 30px !important;
}

@media screen and (max-width: 460px) {
	.map-results {
	  width: 380px; }

	.map-results.compressed {
	  transform: translateX(-380px); }

	.map-results-inner {
	  width: 380px; }

	.expanded .map-results-toggle {
	  transform: translateX(calc(100% + 380px)); }
	    
	.map-results-detail { 
	  width: 380px; }

	.expanded .map-results-detail {
	  transform: translateX(380px); }

	.map-results-list {
	  width: 380px;}

	.map-results {
	  width: 380px; }

	.map-results.compressed {
	  transform: translateX(-380px); }

	.map-results-inner {
	  width: 380px; }

	.expanded .map-results-toggle {
	  transform: translateX(calc(100% + 380px)); }
	  
	.map-results-detail {
	  width: 380px; }

	.expanded .map-results-detail {
	  transform: translateX(380px); }

	.map-results-list {
	  width: 380px; }
}

@media screen and (max-width: 425px) {
	.map-results {
	  width: 300px; }

	.map-results.compressed {
	  transform: translateX(-300px); }

	.map-results-inner {
	  width: 300px; }

	.expanded .map-results-toggle {
	  transform: translateX(calc(100% + 300px)); }
	    
	.map-results-detail { 
	  width: 300px; }

	.expanded .map-results-detail {
	  transform: translateX(300px); }

	.map-results-list {
	  width: 300px;}

	.map-results {
	  width: 300px; }

	.map-results.compressed {
	  transform: translateX(-300px); }

	.map-results-inner {
	  width: 300px; }

	.expanded .map-results-toggle {
	  transform: translateX(calc(100% + 300px)); }
	  
	.map-results-detail {
	  width: 300px; }

	.expanded .map-results-detail {
	  transform: translateX(300px); }

	.map-results-list {
	  width: 300px; }

	.map-toolbar-group-item {
		padding: 0 6px; }
}

@media screen and (max-width: 385px) {
	.map-results {
	  width: 300px; }

	.map-results.compressed {
	  transform: translateX(-300px); }

	.map-results-inner {
	  width: 300px; }

	.expanded .map-results-toggle {
	  transform: translateX(calc(100% + 300px)); }
	    
	.map-results-detail { 
	  width: 300px; }

	.expanded .map-results-detail {
	  transform: translateX(300px); }

	.map-results-list {
	  width: 300px;}

	.map-results {
	  width: 300px; }

	.map-results.compressed {
	  transform: translateX(-300px); }

	.map-results-inner {
	  width: 300px; }

	.expanded .map-results-toggle {
	  transform: translateX(calc(100% + 300px)); }
	  
	.map-results-detail {
	  width: 300px; }

	.expanded .map-results-detail {
	  transform: translateX(300px); }

	.map-results-list {
	  width: 300px; }

	.map-toolbar-group-item {
		padding: 0 6px; }  
}

@media screen and (max-width: 345px) {
	.map-results {
	  width: 275px; }

	.map-results.compressed {
	  transform: translateX(-275px); }

	.map-results-inner {
	  width: 275px; }

	.expanded .map-results-toggle {
	  transform: translateX(calc(100% + 275px)); }
	    
	.map-results-detail { 
	  width: 275px; }

	.expanded .map-results-detail {
	  transform: translateX(275px); }

	.map-results-list {
	  width: 275px;}

	.map-results {
	  width: 275px; }

	.map-results.compressed {
	  transform: translateX(-275px); }

	.map-results-inner {
	  width: 275px; }

	.expanded .map-results-toggle {
	  transform: translateX(calc(100% + 275px)); }
	  
	.map-results-detail {
	  width: 275px; }

	.expanded .map-results-detail {
	  transform: translateX(275px); }

	.map-results-list {
	  width: 275px; }

	.map-toolbar-group-item {
		padding: 0 5px; }

	.map-toolbar-group {
		margin: 0; }
}
