.sebm-google-map-container {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	height: calc(100vh - 60px);
}

.no-pad {
	padding: 0em;
}

.flex {
	display: flex;
}

.flex-space-between {
	display: flex;
	justify-content: space-between;
}

.listing-row-medium-price {
	color: white;	
}

.float-none {
	float: none;
}

.no-margin {
	margin: 0em !important;
}

.next-to-button {
	line-height: 1.8;
	margin: 0em;
	padding-left: .3em;
}

.margin-top {
	margin-top: .3em;
}

.negative-margins {
	margin-left: -15px;
	margin-right: -15px;
}

hr {
	margin-top: .3em;
	margin-bottom: .3em;
}